body{
    background: #f3f2f2;
    background-attachment: scroll;
    padding: 0;
    margin: 0;
    min-width: 490px;
}
.navbar {
    position: fixed;
    width: 80%;
    margin: 1.5em auto; /* Center align the navbar */
    z-index: 1000;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.feed-container,
.posts-container {
    padding-top: 70px;
    margin: 0 auto;
}

.footer{
    padding-bottom: 40px;
    background-color: #fff;
}
