body{
    background-attachment: scroll;
    padding: 0;
    margin: 0;
    min-width: 490px;
    background-image: url('https://cdn.discordapp.com/attachments/763777898204364820/1223602442281811998/seamless-pattern-of-funny-colorful-doodle-lines-a-creative-artistic-background-in-a-minimalist-style-for-children-or-a-fashionable-design-with-basic-shapes-memphis-style-vector.png?ex=661a7393&is=6607fe93&hm=8528f2569f0a5a521ffae828745167099f9f3e8cb6c5d3e1697d839013540bb5&');

}
.navbar {
    position: fixed;
    width: 80%;
    margin: 1.5em auto; /* Center align the navbar */
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

.feed-container,
.posts-container {
    padding-top: 70px;
    margin: 0 auto;
}

.footer{
    padding-bottom: 40px;

}
