body{
    background-attachment: scroll;
    padding: 0;
    margin: 0;
    min-width: 490px;
    background-image: url('https://img2.pic.in.th/pic/seamless-pattern-of-funny-colorful-doodle-lines-a-creative-artistic-background-in-a-minimalist-style-for-children-or-a-fashionable-design-with-basic-shapes-memphis-style-vector.png');

}
.navbar {
    position: fixed;
    width: 80%;
    margin: 1.5em auto; /* Center align the navbar */
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

.feed-container,
.posts-container {
    padding-top: 70px;
    margin: 0 auto;
}

.footer{
    padding-bottom: 40px;

}
